<launch>
  <node pkg="remote_launch_server" type="remotelaunch.py" name="remote_launch_server" output="screen">
    <param name="cfg_file" value="$(find remote_launch_server)/config/launch_cfg.csv"/>
  </node>
  
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
</launch>
